<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.widget.viewpagerheader"
    android:versionCode="1"
    android:versionName="1.0">

    <!--android:allowBackup="true"
    tools:replace="android:theme"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar" >
    <activity
        android:name="com.common.widget.viewpagerheader.MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>-->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <application/>

</manifest>
